<p id="notice"><%= notice %></p>

<p>
  <strong>Marital status:</strong>
  <%= @main_marital_status.marital_status %>
</p>

<%= link_to 'Edit', edit_main_marital_status_path(@main_marital_status) %> |
<%= link_to 'Back', main_marital_statuses_path %>
