<h1>Editing Lampiran Eleven Contact Symptom</h1>

<%= render 'form', lampiran_eleven_contact_symptom: @lampiran_eleven_contact_symptom %>

<%= link_to 'Show', lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_contact_symptom) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptoms_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer) %>
