<h1>Editing Lampiran Eleven Contact Status</h1>

<%= render 'form', lampiran_eleven_contact_status: @lampiran_eleven_contact_status %>

<%= link_to 'Show', lampiran_eleven_close_contact_information_contact_status_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_contact_status) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_contact_statuses_path(@lampiran_eleven_close_contact_information) %>
