<h1>New Lampiran Eleven Contact Status</h1>

<%= render 'form', lampiran_eleven_contact_status: @lampiran_eleven_contact_status %>

<%= link_to 'Back', lampiran_eleven_close_contact_information_contact_statuses_path(@lampiran_eleven_close_contact_information) %>
