<h1>Editing Telegram Message Ili Reporter</h1>

<%= render 'form', telegram_message_ili_reporter: @telegram_message_ili_reporter %>

<%= link_to 'Show', @telegram_message_ili_reporter %> |
<%= link_to 'Back', telegram_message_ili_reporters_path %>
