<h1>Editing Main Dinkes Province</h1>

<%= render 'form', main_dinkes_province: @main_dinkes_province %>

<%= link_to 'Show', @main_dinkes_province %> |
<%= link_to 'Back', main_dinkes_provinces_path %>
