<h1>Editing Lampiran Eleven Close Contact</h1>

<%= render 'form', lampiran_eleven_close_contact: @lampiran_eleven_close_contact %>

<%= link_to 'Show', lampiran_eleven_close_contact_information_information_expose_close_contact_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose,@lampiran_eleven_close_contact) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_information_expose_close_contacts_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose) %>
