<h1>Editing Telegram Username Reporter</h1>

<%= render 'form', telegram_username_reporter: @telegram_username_reporter %>

<%= link_to 'Show', @telegram_username_reporter %> |
<%= link_to 'Back', telegram_username_reporters_path %>
