<% content_for :isi do %>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Pesan Tidak Ada Kasus Dari RT</h3>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table align-items-center table-flush table-striped">
        <thead class="thead-light">
          <tr>
            <th>Chat ID</th>
            <th>Username telegram</th>
          </tr>
        </thead>
        <tbody>
          <% @telegram_message_checkin_reporters.each do |telegram_message_checkin_reporter| %>
            <tr>
              <td><%= telegram_message_checkin_reporter.chat_id %></td>
              <td><%= telegram_message_checkin_reporter.username_telegram %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>

