<h1>New Telegram Message Checkin Reporter</h1>

<%= render 'form', telegram_message_checkin_reporter: @telegram_message_checkin_reporter %>

<%= link_to 'Back', telegram_message_checkin_reporters_path %>
