<h1>Editing L Contact List Contact List</h1>

<%= render 'form', l_contact_list_contact_list: @l_contact_list_contact_list %>

<%= link_to 'Show', @l_contact_list_contact_list %> |
<%= link_to 'Back', l_contact_list_contact_lists_path %>
