<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Pengisian Kontak</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr class="d-flex">
              <th class="text-center col-1">Tanggal</th>
              <th class="col-11"></th>
            </tr>
          </thead>
          <tbody>
            <% @l_contact_list_contact_lists.each do |l_contact_list_contact_list| %>
            <tr class="d-flex">
              <td class="text-center col-1"><%= l_contact_list_contact_list.date_contact %></td>
              <td class="col-11"><%= l_contact_list_contact_list.patient.nil? ? "" : l_contact_list_contact_list.patient.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>