<p id="notice"><%= notice %></p>

<p>
  <strong>Date contact:</strong>
  <%= @l_contact_list_contact_list.date_contact %>
</p>

<p>
  <strong>Name:</strong>
  <%= @l_contact_list_contact_list.patient.name %>
</p>

