<h1>New Lampiran Eleven Info Exposes Officer</h1>

<%= render 'form', lampiran_eleven_info_exposes_officer: @lampiran_eleven_info_exposes_officer %>

<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officers_path(@lampiran_eleven_close_contact_information) %>
