<h1>Editing Main Hospital</h1>

<%= render 'form', main_hospital: @main_hospital %>

<%= link_to 'Back', main_dinkes_province_dinkes_region_hospitals_path(@main_dinkes_province,@main_dinkes_region) %>
