<p id="notice"><%= notice %></p>

<p>
  <strong>Province:</strong>
  <%= @main_province.province %>
</p>

<%= link_to 'Edit', edit_main_province_path(@main_province) %> |
<%= link_to 'Back', main_provinces_path %>
