<p id="notice"><%= notice %></p>

<p>
  <strong>Job position:</strong>
  <%= @main_job_position.job_position %>
</p>

<%= link_to 'Edit', edit_main_job_position_path(@main_job_position) %> |
<%= link_to 'Back', main_job_positions_path %>
