<h1>New Main Personal Protective Equipment</h1>

<%= render 'form', main_personal_protective_equipment: @main_personal_protective_equipment %>

<%= link_to 'Back', main_personal_protective_equipments_path %>
