<p id="notice"><%= notice %></p>

<p>
  <strong>Personal protective equipment:</strong>
  <%= @main_personal_protective_equipment.personal_protective_equipment %>
</p>

<%= link_to 'Edit', edit_main_personal_protective_equipment_path(@main_personal_protective_equipment) %> |
<%= link_to 'Back', main_personal_protective_equipments_path %>
