<h1>Editing Telegram Message Closecont Observer</h1>

<%= render 'form', telegram_message_closecont_observer: @telegram_message_closecont_observer %>

<%= link_to 'Show', @telegram_message_closecont_observer %> |
<%= link_to 'Back', telegram_message_closecont_observers_path %>
