<h1>New Lampiran Eleven Specimen Contact</h1>

<%= render 'form', lampiran_eleven_specimen_contact: @lampiran_eleven_specimen_contact %>

<%= link_to 'Back', lampiran_eleven_close_contact_information_specimen_contacts_path(@lampiran_eleven_close_contact_information) %>
