<h1>Editing Telegram Message Ili Observer</h1>

<%= render 'form', telegram_message_ili_observer: @telegram_message_ili_observer %>

<%= link_to 'Show', @telegram_message_ili_observer %> |
<%= link_to 'Back', telegram_message_ili_observers_path %>
