<h1>Editing Telegram Message Closecont Reporter</h1>

<%= render 'form', telegram_message_closecont_reporter: @telegram_message_closecont_reporter %>

<%= link_to 'Show', @telegram_message_closecont_reporter %> |
<%= link_to 'Back', telegram_message_closecont_reporters_path %>
