<h1>New Lampiran Eleven Other Symptom</h1>

<%= render 'form', lampiran_eleven_other_symptom: @lampiran_eleven_other_symptom %>

<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officer_other_symptoms_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer) %>
