<h1>Editing Lampiran Eleven Comorbid Condition</h1>

<%= render 'form', lampiran_eleven_comorbid_condition: @lampiran_eleven_comorbid_condition %>

<%= link_to 'Show', lampiran_eleven_close_contact_information_comorbid_condition_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_comorbid_condition) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_comorbid_conditions_path(@lampiran_eleven_close_contact_information) %>
