<p id="notice"><%= notice %></p>

<p>
  <strong>Job type:</strong>
  <%= @main_job_type.job_type %>
</p>

<%= link_to 'Edit', edit_main_job_type_path(@main_job_type) %> |
<%= link_to 'Back', main_job_types_path %>
