<h1>Editing L Six F Hospital Dest</h1>

<%= render 'form', l_six_f_hospital_dest: @l_six_f_hospital_dest %>

<%= link_to 'Show', @l_six_f_hospital_dest %> |
<%= link_to 'Back', l_six_f_hospital_dests_path %>
