<h1>New Telegram Message Report Observer</h1>

<%= render 'form', telegram_message_report_observer: @telegram_message_report_observer %>

<%= link_to 'Back', telegram_message_report_observers_path %>
