<h1>New Lampiran Eleven Close Contact Information</h1>

<%= render 'form', lampiran_eleven_close_contact_information: @lampiran_eleven_close_contact_information %>

<%= link_to 'Back', lampiran_eleven_close_contact_informations_path %>
