/* .select2-container .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: .875rem !important;
    height: calc(1.5em + 1.25rem + 5px);
} */

.nav-pills .nav-md-item:not(:last-child) {
    padding-right: .5rem;
}

@media (max-width: 575.98px) {
    .nav-pills .nav-md-item {
        padding: 0 .5rem;
    }   
}

@media (max-width: 768.98px){
    /* .long-label-checkbox {
        margin-bottom: 4.5rem !important;
    } */
    
    .custom-checkbox .custom-control-input ~ .custom-control-label {
        height: calc(100%);
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        overflow: hidden;
        white-space: nowrap;
    }
    .hide-big-screen{
        display: block !important;
    }
}

.custom-checkbox .custom-control-input ~ .custom-control-label {
    height: calc(100%);
}

.hide-big-screen{
    display: none;
}

.bg-gradient-azure{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.input-group-merge .form-control:not(:first-child) {
    padding-left: 0.75rem;
}

.fill-custom{
    fill: #2d3142;
}

.bg-custom{
    background-color: #2d3142 !important;
}