<h1>New Telegram Message Traveler Observer</h1>

<%= render 'form', telegram_message_traveler_observer: @telegram_message_traveler_observer %>

<%= link_to 'Back', telegram_message_traveler_observers_path %>
