<p id="notice"><%= notice %></p>

<p>
  <strong>Type contact:</strong>
  <%= @main_type_contact.type_contact %>
</p>

<%= link_to 'Edit', edit_main_type_contact_path(@main_type_contact) %> |
<%= link_to 'Back', main_type_contacts_path %>
