<p id="notice"><%= notice %></p>

<p>
  <strong>Set location:</strong>
  <%= @main_set_location.set_location %>
</p>

<%= link_to 'Edit', edit_main_set_location_path(@main_set_location) %> |
<%= link_to 'Back', main_set_locations_path %>
