<h1>Editing Lampiran Eleven Close Contact Info Home</h1>

<%= render 'form', lampiran_eleven_close_contact_info_home: @lampiran_eleven_close_contact_info_home %>

<%= link_to 'Show', lampiran_eleven_close_contact_information_information_expose_close_contact_info_home_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose,@lampiran_eleven_close_contact_info_home) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_information_expose_close_contact_info_homes_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose) %>
